{% extends 'layouts/base.html' %}

{% block title %}
Login
{% endblock%}

{% block content %}
        <hr> 
        <div class="card">
            <div class="card-header">
                <h4>Log In</h4>
            </div>
            <div class="card-body">
                <form action="#" method="POST">
                  {% csrf_token %}
                  
                  {{ form.as_p }}
                  <input type="submit" class="btn btn-primary" value="LOGIN">
                </form>
            </div>
        </div>
{% endblock%}