{% extends 'layouts/base.html' %}
{% block title %}
Register
{% endblock %}

{% block content %}
        <hr> 
        <div class="card">
       <!--   {% if msg %}
          <div class="alert alert-success"  role="alert" >
              {{msg}} 
          </div>
          {% endif %} -->
            <div class="card-header">
                <h4>Register</h4>
            </div>
            <div class="card-body">
                <form action="#" method="POST">
                    {% csrf_token %}
                    
                    {{ form.as_p }}
                    <input type="submit" class="btn btn-primary" value="REGISTER">
                </form>
            </div>
        </div>
    </div>
{% endblock %}