{% extends 'layouts/base.html' %}
{% block title %}
Register
{% endblock %}

{% block content %}

        <style>
            .main_center {
            text-align: center;
            }
        </style>
        <style>
            .centerss {
                margin-left: 450px;
                width: 500px;
                height: 400px;
                text-align: center;
                border: 2px solid green;
                box-shadow: 10px 10px 5px grey;
            }
        </style>

        <hr> 
        <div class="centerss">
            <div class="card">
        <!--   {% if msg %}
            <div class="alert alert-success"  role="alert" >
                {{msg}} 
            </div>
            {% endif %} -->
                <div class="card-header">
                    <h4>Register</h4>
                </div>
                <div class="card-body">
                    <form action="#" method="POST">
                        {% csrf_token %}
                        
                        {{ form.as_p }}
                        <input type="submit" class="btn btn-primary" value="REGISTER">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}